.show-all {
    background-color: floralwhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    align-content: start;
    padding: 10px;
    overflow-y: scroll;
}

.animal-card {
    /* border: 1px solid black; */
    height: 160px;
    /* width: 280px; */
    padding: 10px;
    box-shadow: 0px 0px 7px black;
    /* margin: 20px; */
}