html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body>header {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto 3fr 5fr;
    column-gap: 20px;
    align-items: center;
}

#logo {
    width: 100px;
    height: 100px;
    padding: 10px;
}

body>main {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

body>footer {
    background-color: blueviolet;
}