{% extends 'records/base.html' %}
{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/form.css') }} ">
{% endblock page_css %}

{% block content %}
<article class="form">
  <header>
    <a href="/records/{{ record.id }}">&lt; Back</a>
    <h2>Edit</h2>
  </header>
  <form action="/records/{{ record.id }}" method="post">
    <ul>
      <li>
        <label for="date">Date:</label>
        <input type="datetime-local" name="date" required value="{{ record.print_date('print_datetime_local') }}">
      </li>
      <li>
        <label for="display_animal">Animal:</label>
        <input type="text" name="display_animal" disabled value="{{ record.animal.name }}">
        <input type="hidden" name="animal_id" value="{{ record.animal.id }}">
      </li>
      <li class="full-width">
        <div>
          <label for="entry">Entry:</label>
          <textarea name="entry" autofocus required>{{ record.entry }}</textarea>
        </div>
      </li>
    </ul>
    <input type="submit">
  </form>
</article>
{% endblock content %}