{% extends 'base.html' %}


{% block content %}
<article class="new">
  <h2>Add to medical records</h2>
  <form action="/records/{{ record.id }}" method="post">
    <label for="date">Date:</label>
    <input type="text" name="date" required value="{{ record.date }}">
    <label for="entry">Entry:</label>
    <textarea name="entry" required>{{ record.entry }}</textarea>
    <label for="display_animal">Animal:</label>
    <input type="text" name="display_animal" disabled value="{{ record.animal.name }}">
    <input type="hidden" name="animal_id" value="{{ record.animal.id }}">
    <input type="submit">
  </form>
</article>
{% endblock content %}