{% extends 'base.html' %}


{% block content %}
<article class="new">
  <h2>Add to medical records</h2>
  <form action="/records" method="post">
    <label for="date">Date:</label>
    <input type="datetime-local" name="date" value="{{ current_time }}" required>

    <label for="entry">Entry:</label>
    <textarea name="entry" required></textarea>

    {% if animal != None %}
    <label for="display_animal">Animal:</label>
    <input type="text" name="display_animal" value="{{ animal.name }}" disabled>
    <input type="hidden" value="{{ animal.id }}" name="animal_id">

    {% else %}

    <label for="animal_id">Animal:</label>
    <select name="animal_id" required>
      <option value="" selected disabled>Choose animal</option>
      {% for animal in animals %}
      <option value="{{ animal.id }}">{{ animal.name }}</option>
      {% endfor %}
      {% endif %}
    </select>

    <input type="submit">
  </form>
</article>
{% endblock content %}