{% extends 'records/base.html' %}

{% block content %}
<article class="show-single">
  <section>
    <h3>Date: {{ record.print_date("print_nice") }}</h3>
    <p>{{ record.entry }}</p>
    <a href="/records/{{ record.id }}/edit">Edit</a>
    <a href="/records/{{ record.id }}/delete">Delete</a>
  </section>
  <aside>
    <h3>{{ record.animal.name }}</h3>
    <h4>Species: {{ record.animal.species }}</h4>
    <h4>Checked in: {{ record.animal.checked_in }}</h4>
    <a href="/animals/{{ record.animal.id }}">View animal</a>
  </aside>
</article>
{% endblock content %}