.show-all {
    background-color: var(--seashell);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    align-content: start;
    align-items: start;
    padding: 10px;
    width: 95%;
    margin: 10px auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.show-all>header {
    grid-column-start: span 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

img {
    height: 80px;
}

.owner-card {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    align-content: start;
    align-items: start;
    border: 1px solid var(--black-transp);
    padding: 10px;
    box-shadow: 6px 6px 0px var(--black-transp);
}

.owner-card>main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 20px;
    align-items: center;
}

.owner-card>footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-content: center;
    text-align: center;
}

.owner-card>footer>a {
    /* padding: auto 0px; */
    line-height: 250%;
    border-radius: 10px;
    color: var(--seashell);
    background-color: var(--blue-sapphire);
    text-decoration: none;
}

.owner-card>footer>a:hover {
    background-color: var(--raisin-black);
}