{% extends 'vets/base.html' %}


{% block content %}
<article class="show-all">
  {% if admitted != undefined %}
  <h2>Available vets</h2>
  {% else %}
  <h2>All vets</h2>
  {% endif %}
  {% for vet in vets|sort(attribute="last_name") %}
  <section class="vet-card">
    <main>
      <img src="{{ url_for('static', filename='img/vet.png') }}">
      <h3>{{ vet.first_name }} {{ vet.last_name }}</h3>
    </main>
    <footer>
      <a href="/vets/{{ vet.id }}">Show details</a>
    </footer>

  </section>
  {% endfor %}
</article>
{% endblock content %}