{% extends 'vets/base.html' %}

{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/vets/show.css') }} ">
{% endblock page_css %}
{% block content %}
<article class="show-single">
  <header>
    <h2>{{ vet.first_name }} {{ vet.last_name }}</h2>
    {% if vet.busy %}
    <section class="busy">
      <p>Busy!</p>
    </section>
    {% else %}
    <section class="available">
      <p>Available</p>
    </section>
    {% endif %}
  </header>
  <main>
    <p>Max animals in care: <strong>{{ vet.max_animals }}</strong></p>
  </main>
  <footer>
    <p>
      <a href="/vets/{{vet.id}}/edit">Edit details</a>
    </p>
  </footer>
  <aside id="animals">
    {% if animals|length > 0 %}
    <article>
      <header>
        <h3>Animals in {{vet.first_name}}'s care</h3>
      </header>
      <main>
        {% for animal in animals %}
        <section>
          <h4>{{ animal.name }}</h4>
          <h5>{{ animal.species.capitalize() }}</h5>
          <h5>Date registered: {{ animal.print_registered('print_nice') }}</h5>
          <a href="/animals/{{animal.id}}">View animal</a>
        </section>
        {% endfor %}
      </main>
    </article>

    {% else %}
    <article>
      <header>
        <h3>No animals in {{vet.first_name}}'s care right now</h3>
      </header>
    </article>

    {% endif %}
  </aside>
</article>
{% endblock content %}