{% extends 'base.html' %}

{% set active_page = "animals" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animals/style.css') }}">
{% block page_css %}

{% endblock page_css %}
{% endblock css %}


{% block side_nav %}
<nav class="side-nav">
  <ul>
    <li {% if sidenav == "all" %}class="active" {% endif %}><a href="/animals">All Animals</a></li>
    <li {% if sidenav == "admitted" %}class="active" {% endif %}><a href="/animals/admitted">Animals in treatment</a>
    </li>
    <li {% if sidenav == "new" %}class="active" {% endif %}><a href="/animals/new">Register Animal</a></li>
  </ul>
</nav>
<section></section>
{% if show_key %}
<aside id="treatment_key">
  <ul>
    <li><span id="key"><strong>Key:</strong></span></li>
    <li><span class="checked-in treatment">✓ In treatment</span></li>
    <li><span class="checked-in recovery">💤 In recovery</span></li>
    <li><span class="checked-out">✕ Not in treatment</span></li>
  </ul>
</aside>
{% endif %}
{% endblock side_nav %}


{% block content %}

{% endblock content %}