{% extends 'animals/base.html' %}

{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/form.css') }} ">
{% endblock page_css %}

{% block content %}
<article class="form">
  <header>
    <a href="/animals/{{ animal.id }}">&lt; Back</a>
    <h2>Edit {{ animal.name }}</h2>
  </header>
  <form action="/animals/{{ animal.id }}" method="post" name="helloworld">
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" required autofocus value="{{ animal.name }}">
      </li>
      <li>
        <label for="display_owner">Owner:</label>
        <input type="text" name="display_owner" disabled
          value="{{ animal.owner.first_name }} {{ animal.owner.last_name }}">
        <input type="hidden" name="owner_id" value="{{ animal.owner.id }}">
      </li>
      <li>
        <label for="dob">DOB:</label>
        <input type="date" name="dob" placeholder="yyyy-mm-dd" required value="{{ animal.print_dob('print_format') }}">
      </li>
      <li>
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="Species" required value="{{ animal.species }}">
      </li>
      <li>
        <label for="breed">Breed:</label>
        <input type="text" name="breed" placeholder="Breed" required value="{{ animal.breed }}">
      </li>
      <li>
        <label for="vet_id">Assign vet:</label>
        <select name="vet_id" required>
          {% for vet in vets|sort(attribute="busy,last_name") %}
          <option value="{{ vet.id }}" {% if vet.busy %}disabled{% endif %} {% if vet.id == animal.vet.id %} selected
            {% endif %}>{{ vet.first_name }}
            {{ vet.last_name }} {% if vet.busy %}&lt;Busy&gt;{% endif %}</option>
          {% endfor %}
        </select>
      </li>
      <li>
        <label for="date_registered">Date registered:</label>
        <input type="datetime-local" name="date_registered" placeholder="yyyy-mm-dd" required
          value="{{ animal.print_registered('print_datetime_local') }}">
      </li>
    </ul>
    <input type="submit">
  </form>
</article>
{% endblock content %}