{% extends 'animals/base.html' %}

{% set sidenav = "all" %}
{% if admitted != undefined %}
{% set sidenav = "admitted" %}
{% endif %}

{% block content %}
<article class="show-all">
  <header>
    {% if admitted != undefined %}
    <h2>Animals in vet surgery</h2>
    {% elif search %}
    {% if results|length %}
    <h2>Search results</h2>
    {% else %}
    <h2>No results found</h2>
    {% endif %}
    {% else %}
    <h2>All animals</h2>
    {% endif %}
    <form action="/animals/search" method="post">
      <input type="hidden" value="search">
      <label for="animal_name">Search: </label>
      <input list="animal_names" name="animal_name" placeholder="Animal name"
        value="{% if search %}{{ search }}{% endif %}">
      <datalist id="animal_names">
        {% for animal in animals|sort(attribute="name") %}
        <option value="{{ animal.name }}">{{ animal.name }}</option>
        {% endfor %}
      </datalist>
      <input type="submit" value="Go">
    </form>
  </header>
  {% if results|length %}
  {% set animals = results %}
  {% endif %}
  {% for animal in animals|sort(reverse=true, attribute="date_registered") %}
  <section class="animal-card">
    <main>
      <img src="{{ url_for('static', filename='img/animal.png') }}">
      <hgroup>
        <h3>{{ animal.name }}</h3>
        <h4>{{ animal.species }}</h4>
        <h4>Registered: {{ animal.print_registered("print_date") }}</h4>
      </hgroup>
    </main>
    <footer>
      <a href="/animals/{{ animal.id }}">Show details</a>
      {% if animal.checked_in %}
      <span class="checked-in">✓</span>
      {% else %}
      <span class="checked-out">✗</span>
      {% endif %}
    </footer>

  </section>
  {% endfor %}
</article>
{% endblock content %}