{% extends 'animals/base.html' %}

{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/animals/show.css') }} ">
{% endblock page_css %}
{% block content %}
<article class="show-single">
  <header>
    <h2> {{animal.name }}</h2>
  </header>
  <main>
    <p>Species: {{ animal.species }}</p>
    <p>Breed: {{ animal.breed }}</p>
    <p>DOB: {{ animal.print_dob("print_date") }} ({{ animal.get_age() }})</p>
    <p>Registered: {{ animal.print_registered("print_nice") }}</p>

  </main>
  <aside>
    <p>Owned by <a href="/owners/{{ animal.owner.id }}">{{ animal.owner.first_name }}
        {{ animal.owner.last_name }}</a>
    </p>
    <p>Assigned to <a href="/vets/{{ animal.vet.id }}">{{ animal.vet.first_name }} {{ animal.vet.last_name }}</a>
    </p>
    {% if animal.location != "" %}
    {% if animal.location == "treatment" %}
    <span class="checked-in treatment">✓ in treatment</span>
    {% else %}
    <span class="checked-in recovery">💤 in recovery</span>
    {% endif %}
    {% else %}
    <span class="checked-out">✕ no treatment</span>
    {% endif %}
  </aside>
  <footer>
    {% if treatment == None %}
    <a href="/treatments/new/{{animal.id}}">Add treatment</a>
    {% endif %}
    <a href="/animals/{{animal.id}}/edit">Edit details</a>
    <a class="delete" href="/animals/{{animal.id}}/delete">Remove from system</a>
  </footer>
  {% if treatment != None %}
  <section id="treatment">
    <header>
      <h3>Currently undergoing {{ animal.location }}</h3>
    </header>
    <main>
      <div>
        <label for="description">Description: </label>
        <textarea name="description" disabled>{{ treatment.description }}</textarea>
      </div>
      <section>
        <p>Treatment started at: {{ treatment.print_start() }}</p>
        <p>Cost: £{{ '{:.2f}'.format(treatment.cost / 100) }}</p>
      </section>
      <aside>
        <p>Treatment duration: {{ treatment.total(treatment.duration) }}</p>
        <p>Recovery duration: {{ treatment.total(treatment.recovery) }}</p>
        {% if animal.location == "treatment" %}
        <p>Treatment will finish at: {{ treatment.print_duration() }}</p>
        {% else %}
        <p>Treatment finished at: {{ treatment.print_duration() }}</p>
        {% endif %}
        <p>Recovery will finish at: {{ treatment.print_recovery() }}</p>
      </aside>
    </main>
    <footer>
      <a href="/treatments/{{ animal.id }}/edit">Edit treatment</a>
      <a class="delete" href="/treatments/{{ animal.id }}/delete">Cancel treatment</a>
    </footer>
  </section>
  {% endif %}
  <section id="records">
    {% if records|length > 0 %}
    <article>
      <header>
        <h3>{{animal.name}}'s medical records</h3>
        <a href="/records/new/{{ animal.id }}">Add new entry</a>
      </header>
      <main>
        {% for record in records|sort(reverse=true, attribute="date") %}
        <section>
          <h4>{{ record.print_date('print_nice') }}</h4>
          <p>{{ record.entry|truncate(100, True, '...', 0) }}</p>
          <a href="/records/{{record.id}}">View record</a>
        </section>
        {% endfor %}
      </main>
    </article>

    {% else %}

    <article>
      <header>
        <h3>No medical records for {{animal.name}} right now</h3>
        <a href="/records/new/{{ animal.id }}">Add new entry</a>
      </header>
    </article>
    {% endif %}

  </section>
</article>
{% endblock content %}