{% extends 'animals/base.html' %}


{% block content %}
<article class="show-single">
  <section>
    <h2>{{ animal.name }}</h2>
    <p>Owned by <a href="/owners/{{ animal.owner.id }}">{{ animal.owner.first_name }} {{ animal.owner.last_name }}</a>
    </p>
    <p>Assigned to <a href="/vets/{{ animal.vet.id }}">{{ animal.vet.first_name }} {{ animal.vet.last_name }}</a></p>
    <p>{{ animal.date_admitted }}</p>
    <p>{{ animal.checked_in }}</p>
    <p>{{ animal.species }}</p>
    <p>{{ animal.dob }}</p>

    <a href="/animals/{{animal.id}}/edit">Edit details</a>
    <a href="/animals/{{animal.id}}/delete">Remove from system</a>
    <aside>
      {% if records|length > 0 %}
      <h3>{{animal.name}}'s medical records</h3>
      <a href="/records/new/{{ animal.id }}">Add new entry</a>
      {% for record in records %}
      <section>
        <h4>{{ record.date }}</h4>
        <p>{{ record.entry }}</p>
        <a href="/animals/{{record.id}}">View record</a>
      </section>
      {% endfor %}
      {% else %}
      <section>
        <h3>No medical records for {{animal.name}} right now</h3>
        <a href="/records/new/{{ animal.id }}">Add new entry</a>
      </section>
      {% endif %}
    </aside>
  </section>
</article>
{% endblock content %}