{% extends 'owners/base.html' %}
{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/form.css') }} ">
{% endblock page_css %}


{% block content %}
<article class="form">
  <header>
    <a href="/owners/{{ owner.id }}">&lt; Back</a>
    <h2>Edit</h2>
  </header>
  <form action="/owners/{{ owner.id }}" method="post">
    <ul>
      <li>
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" required autofocus value="{{ owner.first_name }}">
      </li>
      <li>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" required value="{{ owner.last_name }}">
      </li>
      <li>
        <label for="num">House number:</label>
        <input type="text" name="num" required value="{{ owner.address.num }}">
      </li>
      <li>
        <label for="street">Street name:</label>
        <input type="text" name="street" required value="{{ owner.address.street }}">
      </li>
      <li>
        <label for="city">City:</label>
        <input type="text" name="city" required value="{{ owner.address.city }}">
      </li>
      <li>
        <label for="postcode">Postcode:</label>
        <input type="text" name="postcode" required value="{{ owner.address.postcode }}">
      </li>
      <li>
        <input type="hidden" name="address_id" value="{{ owner.address.id }}">

        <label for="last_name">Telephone:</label>
        <input type="tel" name="tel" required value="{{ owner.tel }}">
      </li>
      <li>
        <label for="last_name">Email:</label>
        <input type="email" name="email" required value="{{ owner.email }}">
    </ul>
    <input type="submit">
  </form>
</article>
{% endblock content %}