{% extends 'owners/base.html' %}
{% set sidenav = "all" %}

{% block content %}
<article class="show-all">
  <header>
    {% if search %}
    {% if results|length %}
    <h2>Owners - Search results</h2>
    {% else %}
    <h2>All owners - No results found</h2>
    {% endif %}
    {% else %}
    <h2>All owners</h2>
    {% endif %}
    <form action="/owners/search" method="post">
      <input type="hidden" value="search">
      <label for="owner_name">Search: </label>
      <input type="text" list="owner_names" name="owner_name" placeholder="Owner name"
        value="{% if search %}{{ search }}{% endif %}">
      <datalist id="owner_names">
        {% for owner in owners|sort(attribute="last_name") %}
        <option value="{{ owner.first_name }} {{ owner.last_name }}">{{ owner.first_name}} {{ owner.last_name }}
        </option>
        {% endfor %}
      </datalist>
      <input type="submit" value="Go">
    </form>
  </header>
  {% if results|length %}
  {% set owners = results %}
  {% endif %}
  {% for owner in owners|sort(attribute="last_name") %}
  <section class="owner-card">
    <main>
      <img src="{{ url_for('static', filename='img/owner.png') }}">
      <h3>{{ owner.first_name }} {{ owner.last_name }}</h3>
      <p>Total bill: <strong>£{{ '{:.2f}'.format(owner.bill / 100) }}</strong></p>
    </main>
    <footer>
      <a href="/owners/{{ owner.id }}">Show details</a>
    </footer>

  </section>
  {% endfor %}
</article>
{% endblock content %}