{% extends 'owners/base.html' %}
{% set sidenav = "all" %}

{% block content %}
<article class="show-all">
  {% if admitted != undefined %}
  <h2>Available owners</h2>
  {% else %}
  <h2>All owners</h2>
  {% endif %}
  {% for owner in owners|sort(attribute="last_name") %}
  <section class="owner-card">
    <main>
      <img src="{{ url_for('static', filename='img/owner.png') }}">
      <h3>{{ owner.first_name }} {{ owner.last_name }}</h3>
    </main>
    <footer>
      <a href="/owners/{{ owner.id }}">Show details</a>
    </footer>

  </section>
  {% endfor %}
</article>
{% endblock content %}