{% extends 'base.html' %}


{% block content %}
<article class="new">
  <h2>Add a new owner</h2>
  <form action="/owners" method="post">
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" required autofocus>

    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" required>

    <label for="num">Building name/number:</label>
    <input type="text" name="num" required>

    <label for="street">Street name:</label>
    <input type="text" name="street" required>

    <label for="city">City:</label>
    <input type="text" name="city" required>

    <label for="postcode">Postcode:</label>
    <input type="text" name="postcode" required>

    <label for="tel">Telephone:</label>
    <input type="text" name="tel" required>

    <label for="email">Email:</label>
    <input type="text" name="email" required>

    <input type="submit">
  </form>
</article>
{% endblock content %}