{% extends 'owners/base.html' %}
{% set sidenav = "new" %}
{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/form.css') }} ">
{% endblock page_css %}

{% block content %}
<article class="form">
  <header>
    <a href="/owners">&lt; Back</a>
    <h2>New</h2>
  </header>
  <form action="/owners" method="post">
    <ul>
      <li>
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" required autofocus>
      </li>
      <li>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" required>
      </li>
      <li>
        <label for="num">House number:</label>
        <input type="text" name="num" required>
      </li>
      <li>
        <label for="street">Street name:</label>
        <input type="text" name="street" required>
      </li>
      <li>
        <label for="city">City:</label>
        <input type="text" name="city" required>
      </li>
      <li>
        <label for="postcode">Postcode:</label>
        <input type="text" name="postcode" required>
      </li>
      <li>
        <label for="tel">Telephone:</label>
        <input type="text" name="tel" required>
      </li>
      <li>
        <label for="email">Email:</label>
        <input type="text" name="email" required>
    </ul>
    <input type="submit">
  </form>
</article>
{% endblock content %}