{% extends 'owners/base.html' %}

{% block page_css %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/owners/show.css') }} ">
{% endblock page_css %}
{% block content %}
<article class="show-single">
  <header>
    <h2>{{ owner.first_name }} {{ owner.last_name }}</h2>
  </header>
  <main>
    <aside>
      <section>
        {% for line in address %}
        <p>{{ line }}</p>
        {% endfor %}
      </section>
      <section>
        <p>Phone: {{ owner.tel }} </p>
        <p>Email: {{ owner.email }} </p>
      </section>
    </aside>
    <a href="/owners/{{ owner.id }}/edit">Edit details</a>
  </main>
  <aside id="animals">
    {% if animals|length > 0 %}
    <article>
      <header>
        <h3>{{owner.first_name}}'s animals</h3>
      </header>
      <main>
        {% for animal in animals %}
        <section>
          <h4>{{ animal.name }}</h4>
          <h5>{{ animal.species.capitalize() }}</h5>
          <h5>Date registered: {{ animal.print_registered('print_nice') }}</h5>
          <a href="/animals/{{animal.id}}">View animal</a>
        </section>
        {% endfor %}
      </main>
    </article>

    {% else %}
    <article>
      <header>
        <h3>{{owner.first_name}} hasn't registered any animals yet</h3>
      </header>
    </article>
    {% endif %}

  </aside>
</article>
{% endblock content %}