<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="https://use.typekit.net/pzd3rpd.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block css %}

  {% endblock css %}
  <title>{{ title }} | Vet Management</title>
</head>

<body>
  <header>
    <img id="logo" src="{{ url_for('static', filename='img/vet_dog_logo_light.png') }}" alt="Vet Surgery Logo">
    <h1>Animanagement</h1>
    <nav class="navigation">
      <ul>
        <li {% if active_page == "home" %}class="active" {% endif %}><a href="/">Home</a></li>
        <li {% if active_page == "vets" %}class="active" {% endif %}><a href="/vets">Vets</a></li>
        <li {% if active_page == "animals" %}class="active" {% endif %}><a href="/animals">Animals</a></li>
        <li {% if active_page == "owners" %}class="active" {% endif %}><a href="/owners">Owners</a></li>
        <li {% if active_page == "records" %}class="active" {% endif %}><a href="/records">Records</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <aside class="sidebar">
      {% block side_nav %}

      {% endblock side_nav %}
    </aside>
    {% block content %}

    {% endblock content %}
  </main>
  <footer>
    <ul>
      <li></li>
    </ul>
  </footer>

</body>

</html>